---
import Icon from "../components/Icon.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title={"Marek Grabowski Resume"}
  description={"Undergrad computer science student seeking an internship opportunity to apply classroom knowledge to real-world projects and gain valuable industry experience."}
>
  <div class="justify-center mx-auto max-w-5xl px-6 lg:px-8 my-8">
    <div class="flex flex-row justify-between">
      <div>
        <h2 class="font-bold text-3xl text-blue-800">Marek Grabowski</h2>
        <p class="font-normal text-md text-gray-00">
          Hartford County, CT<br />marekgrabowski.net
        </p>
      </div>
      <div class="mr-2 flex flex-row space-x-2">
        <a href="https://github.com/marekgrabowski" target="_blank" rel="noopener noreferrer">
          <Icon
            icon="github-logo"
            color="var(--accent-regular)"
            size="2.5rem"
            gradient
          />
        </a>
        <a href="https://www.linkedin.com/in/marekgrabski/" target="_blank" rel="noopener noreferrer">
          <Icon
            icon="linkedin-logo"
            color="var(--accent-regular)"
            size="2.5rem"
            gradient
          />
        </a>
        <a href="https://www.instagram.com/marekgrab_/" target="_blank" rel="noopener noreferrer">
          <Icon
            icon="instagram-logo"
            color="var(--accent-regular)"
            size="2.5rem"
            gradient
          />
        </a>
      </div>
    </div>
    <hr class="my-2 border-2 rounded-md border-blue-800" />
    <p class="font-normal text-lg text-gray-700">
      Undergrad computer science student seeking an internship opportunity to
      apply classroom knowledge to real-world projects and gain valuable
      industry experience. Completed 36 hours of major related course work
      including but not limited to Data Structures, Algorithms, Assembly, Linear
      Algebra and Probability. Currently studying AI, Systems Programming,
      Mobile App Development, Theory of Computation.
    </p>
    <hr class="my-2 border-2 rounded-md border-blue-800" />
    <h2 class="font-bold text-2xl text-blue-800 mb-2">Education</h2>
    <h3 class="font-semibold text-xl text-gray-700">
      Central Connecticut State University,<span
        class="text-lg text-gray-500 font-normal"
      >
        New Britain CT
      </span>
    </h3>
    <h4 class="text-md text-gray-500 font-normal mb-1">
      August 2021 - May 2024 (Expected)
    </h4>
    <p class="text-lg text-gray-700 font-normal indent-6">
      B.S of Computer Science (Honors) GPA: 3.5/4
    </p>
    <h2 class="font-bold text-2xl text-blue-800 mb-2 mt-1">Skills</h2>
    <div class="indent-6">
      <ul class="list-disc list-inside text-lg">
        <li>Excellent written and verbal communication skills</li>
        <li>Strong problem solving & teamwork skills</li>
        <li>
          Comfortable in Java with some experience in Python, Kotlin, HTML, C
        </li>
        <li>Experience with Eclipse, Visual Studio Code, Android Studio</li>
        <li>
          Strong understanding of Data Structures, Algorithms, IT & Networking,
          AV
        </li>
        <li>Bilingual; proficient in Polish</li>
      </ul>
    </div>
    <h2 class="font-bold text-2xl text-blue-800 mb-1 mt-1">Employment</h2>
    <h3 class="font-bold text-xl text-gray-700 mt-1">
      Rentals Coordinator/Technician,<span
        class="text-lg text-gray-500 font-normal"
      >
        - CMI Sound Systems, Newington, CT
      </span>
    </h3>
    <h4 class="text-md text-gray-500 font-normal mb-1">May 2021 - Present</h4>
    <div class="indent-6 mb-2">
      <ul class="list-disc list-inside text-lg">
        <li>
          Researched and implemented new rental, inventory, and online booking
          systems streamlining operations.
        </li>
        <li>
          Handle day to day client communication, quoting/invoicing, equipment
          prep.
        </li>
        <li>
          Work as part of a team to setup and operate audio equipment for events
          ranging from 200-5000 people
        </li>
      </ul>
    </div>
    <h3 class="font-bold text-xl text-gray-700 mt-1">
      Family Communications Assistant,<span
        class="text-lg text-gray-500 font-normal"
      >
        - Berlin Board of Education, Berlin, CT
      </span>
    </h3>
    <h4 class="text-md text-gray-500 font-normal mb-1">
      August 2021 - May 2022
    </h4>
    <div class="indent-6 mb-2">
      <ul class="list-disc list-inside text-lg">
        <li>
          Organized the student Broadcasting Club and ensured the success of
          sophisticated livestreams by effectively communicating and delegating
          tasks in a fast-paced production environment
        </li>
        <li>
          Helped facilitate events with effective planning and communication
        </li>
        <li>
          Assisted in the production of quality 5-10 minute videos as part of a
          team
        </li>
      </ul>
    </div>
    <h3 class="font-bold text-xl text-gray-700 mt-1">
      IT/AV Assistant,<span class="text-lg text-gray-500 font-normal">
        - Berlin Board of Education, Berlin, CT
      </span>
    </h3>
    <h4 class="text-md text-gray-500 font-normal mb-1">
      June 2019 - August 2021
    </h4>
    <div class="indent-6 mb-6">
      <ul class="list-disc list-inside text-lg">
        <li>
          Effectively split tasks as a part of a student worker team inorder to
          efficiently complete IT work in a timely fashion with little oversight
        </li>
        <li>
          Effectively used problem solving skills to ensure the success of large
          events using limited AV resources
        </li>
      </ul>
    </div>
    <hr class="my-2 border-2 rounded-md border-blue-800" />
  </div>
</MainLayout>
