---
import Icon from "./Icon.astro";
---

<div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8">
    <p class="mx-auto max-w-lg text-sm text-gray-700 dark:text-gray-100 flex justify-center items-center gap-x-1">Created by Marek Grabowski with
        <Icon icon="heart" color="red" size="1rem" />
    </p>
</div>
