---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
                <div class="hidden md:block">
                    <div class="ml-2 flex items-baseline space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a
                            href="/"
                            class="nav-link text-black rounded-md px-3 py-2 text-base font-medium"
                            aria-current="page">Home</a
                        >
                        <a
                            href="/projects"
                            class="nav-link text-black hover:text-gray-500 rounded-md px-3 py-2 text-base font-medium"
                            >Projects</a
                        >
                        <a
                            href="/resume"
                            class="nav-link text-black hover:text-gray-500 rounded-md px-3 py-2 text-base font-medium"
                            >Resume</a
                        >
                        <!-- <a href="#" class="text-black hover:text-gray-500 rounded-md px-3 py-2 text-sm font-medium">Calendar</a>
              <a href="#" class="text-black hover:text-gray-500 rounded-md px-3 py-2 text-sm font-medium">Reports</a> -->
                    </div>
                </div>
            </div>
            <div class="-mr-2 flex md:hidden">
                <!-- Mobile menu button -->
                <button
                    type="button"
                    class="mobile-menu-button inline-flex items-center justify-center rounded-md bg-white p-2 text-black hover:bg-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                    aria-controls="mobile-menu"
                    aria-expanded="false"
                >
                    <span class="sr-only">Open main menu</span>
                    <!-- Menu open: "hidden", Menu closed: "block" -->
                    <svg
                        class="block h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                        ></path>
                    </svg>
                    <!-- Menu open: "block", Menu closed: "hidden" -->
                    <svg
                        class="hidden h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
                href="/"
                class="nav-link text-black block rounded-md px-3 py-2 text-base font-medium"
                aria-current="page">Home</a
            >
            <a
                href="/projects"
                class="nav-link text-black hover:text-gray-500 block rounded-md px-3 py-2 text-base font-medium"
                >Projects</a
            >
            <a
                href="/resume"
                class="nav-link text-black hover:text-gray-500 block rounded-md px-3 py-2 text-base font-medium"
                >Resume</a
            >
            <!--<a href="#" class="text-black hover:text-gray-500 block rounded-md px-3 py-2 text-base font-medium">Calendar</a>
        <a href="#" class="text-black hover:text-gray-500 block rounded-md px-3 py-2 text-base font-medium">Reports</a>-->
        </div>
    </div>
</nav>
<script>
    // Get the current page URL
    const currentPageUrl = window.location.pathname;

    // Get all navigation links
    const navLinks = document.querySelectorAll(".nav-link");

    // Add the "bg-gray-900 text-white" class to the active page link
    navLinks.forEach((link) => {
        if (link.getAttribute("href") === currentPageUrl) {
            link.classList.add("bg-gradient-to-r", "from-blue-600", "to-purple-800", "text-transparent", "bg-clip-text", "font-black");
        }
    });

    // Toggle the mobile menu
    const mobileMenuButton = document.querySelector(".mobile-menu-button");
    const mobileMenu = document.querySelector("#mobile-menu");

    mobileMenuButton.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
    });
</script>