---
import Icon from "./Icon.astro";

interface BadgeProps {
  name: string;
  img: string;
  img_alt: string;
}

const { name, img, img_alt } = Astro.props as BadgeProps;
---

<div class="group">
  <div
    class="flex items-center justify-between gap-4 group-hover:scale-105 ease-in-out duration-200 max-w-[200px] m-auto bg-white rounded-lg drop-shadow-md"
  >
    <div class="flex flex-row items-center">
      <div
        class="w-[70px] h-[70px] flex justify-center items-center rounded-full drop-shadow-lg"
      >
      <img src={img} alt={img_alt} height="50" width="40" />
    </div>
    <h3 class="text-gray-700 font-medium text-sm">{name}</h3>
  </div>
  <div class="mx-1 w-8">
    <div class=" opacity-0 group-hover:opacity-100 group-hover:transition-opacity duration-700 group-hover:-translate-x-2">
    <Icon icon="caret-right" color="gray" size="2rem" />
  </div>
  </div>
</div>
</div>