---
import { Image } from "astro:assets";
interface BadgeProps {
  name: string;
  img: string;
  img_alt: string;
}

const { name, img, img_alt } = Astro.props as BadgeProps;
---

  <div
    class="flex items-center gap-4 hover:scale-105 ease-in-out duration-200 max-w-[200px] m-auto "
  >
    <div
      class="w-h-20 h-20 flex justify-center items-center rounded-full drop-shadow-lg "
    >
      <Image src={img} alt={img_alt} height="50" width="40" />
    </div>
    <h3 class="text-gray-700 font-medium text-sm">{name}</h3>
  </div>